@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;700&display=swap');

/*Variables del css*/
:root{
    --background: linear-gradient(135deg, #667eea7e 0%, #764ba298 100%);
    --color-primery:#f42800 /*#667eea*/;
    --color-secondary:#320a5c;
    --boton-padding: 20px 40px;
}

body{
    font-family: 'Recursive', sans-serif;
}

.container{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 80px 0;
    max-width: 1200px;
}

.subtitle{
    color: var(--color-primery);
    font-size: 2.5rem;
    margin-bottom: 35px;
}

/*la imagen por debajo en el header*/
.hero{
    height: 100vh;
    background-image: linear-gradient(90deg, rgba(124,25,230,0.3113620448179272) 0%, 
    rgba(112,23,207,0.5522584033613445) 45%, rgba(99,20,184,0.6082808123249299) 100%),
    url('../assets/img/programa.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}

.hero .container{
    padding: 0;
}

/*Para que el menu este en la parte superior derecha*/
.nav{
    display: flex;
    justify-content: flex-end;
    height: 70px;
    align-items: center;
    font-weight: 700;

    position:static;
		width:auto;
		height:auto;
		transform:translateX(0%);
		float:right;
		display:flex;
}

/*.nav--footer{
    font-weight: 300;
    justify-content: flex-start;
}*/

/*Estilo para cada elemento de menu de navegacion*/
.nav__items{
    color: white;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px 15px;
    font-weight: inherit;
}
/*recueadro en seleccion al primer elemento*/
.nav__items--cta{
    border: 1px solid white;
}

/*.nav__items--footer{
    padding: 10px;
}*/
/*Diseño para lo que contiene el header*/
.hero__container{
    display: flex;
    height: calc(100vh - 70px);
    align-items: center;
    color: #fff;
}

/*Diseño de la onda en el header, 
colocado hasta la parte inferior del header*/
.hero__wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;

}

/*Textos*/
.hero__text{
    width: 80%;
    margin-bottom: 50px;
}
.hero__title{
    font-size: 3.2;
}
.hero__subtitle{
    font: 2rem;
    font-weight: 300;
    margin:15px 0;
}

/*Boton en el header*/
.hero__cta{
    display: inline-block;
    background:#fff;
    padding: var(--boton-padding);
    color: var(--color-primery);
    text-decoration: none;
    border-radius: 40px;
}

/*=========ABOUT=========*/
.presentation{
    padding-top: 0;
    text-align: center;
    /*colocar un elemento a lado de otro*/
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
/*La imagen en mi acerca de*/
.presentation__picture{
    width: 450px;
    height: 350px;
    border-radius: 15%;
    margin-bottom: 10px;
    object-fit: cover;
    /*object-position: top;*/
}
/*El texto de sobre mi*/
.presentation__copy{
    width: 80%k;
    margin:0 auto;
    
}

/*Estilo en la parte de redes sociales*/
.footer{
    background: #320a5c;
}

.footer__grid{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 20px;
    align-items: center;
}

.footer__title{
    font-weight: 400;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
}

.footer__icons{
    display: flex;
    justify-content: space-evenly;
}

.footer__container-icons{
    display: inline-block;
    width: 60px;
    height: 60px;
    color: #fff;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;
}

.footer__icon{
    color: inherit;
    font-size: 30px;
    text-decoration: none;
}

.fab.footer__icon{
    line-height: 60px;
}
/*=========PROYECTOS=============*/
/*Repositorios*/
.repositorios{
    color: white;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin-bottom: 50px;
}
.respositorio__cta{
    display: inline-block;
    background: var(--color-secondary);
    margin-left: 40px;
    margin-right: 50px;
    color: #fff;
    text-decoration: none;
    border-radius: 40px;
    padding: var(--boton-padding);
    text-align: center;
}
/*Mis videos*/
.videos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin-bottom: 50px;
}

.one__video{
    margin-left: 40px;
    margin-right: 50px;
    height: 150%;
    width: 85%;
}

.mis_proyectos{
    font-weight: 400;
    color: var(--color-primery);
    font-size: 2rem;
    margin-bottom: 10px;
    padding-left: 35px;
}

/*===========SKILLS===========*/
.skills__container{
    row-gap: 2rem;
    text-align: center;
    padding-left: 250px;
    padding-right: 250px;
    margin-bottom: 50px;
}
.skills__subtitle{
    margin-bottom: 20px;
}
.skills__text{
    margin-bottom: 10px;
}
/*recuadro donde se ecneutra cada uno*/
.skills__data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: inherit ;
    padding: .5rem 1rem;
    margin-bottom: 10px;
    border-radius: .5rem;
    box-shadow: 0 4px 10px rgba(14, 36, 49, 15);
}
/*Icono de cada uno*/
.skills__icon{
    font-size: 2rem;
    margin-right: 10px;
    color: var(--color-secondary);
}
/*Barrita del porcentaje*/
.skills__bar{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: red;
    height: .25rem;
    border-radius: .5rem; 
}
.skills__html{
    width: 95%;

}
.skills__css{
    width: 85%;
}
.skills__js{
    width: 75%;
}
.skills__swf{
    width: 80%;
}
.skills__and{
    width: 80%;
}

/*Diseño responsivo*/
@media screen and (max-width:800px ) {
    :root{
        --boton-padding:18px 40px;
    }
    /*Navegacion*/
    .nav{
        justify-content: space-around;
    }

    .nav__items{
        font-weight: 400;
        border-bottom: 1px solid #fff;
        margin-right: 0;
    }

    .nav__items--cta{
        border: none;
    }

    .nav__items{
        font-weight: 400;
        border-bottom: 1px solid #fff;
        margin-right: 0;
    }

    .nav__items--footer{
        border: none;
    }

    /**/
    .hero__text{
        width: 100%;
        margin-bottom: 80px;
    }

    .hero__title{
        font-size: 2.5rem;
    }

    .hero__subtitle{
        font-size: 1.5rem;
    }

    /*About*/
    .presentation{
        grid-template-columns: 1fr;
    }

    .presentation__copy{
        width: 100%;
    }
    .presentation__picture{
        width: 350px;
        height: 350px;
        border-radius: 15%;
        margin-bottom: 10px;
        object-fit: cover;
    }

    /*footer*/

    .footer__grid{
        grid-template-columns: 1fr;
    }
    /*que vaya de la columna una a la dos*/
    .footer__contact{
        grid-row: 1/2;
    }
    
}

/*Dispositivos moviles*/
@media screen and (max-width: 500px) {
    :root{
        --boton-padding:18px 35px:
    }

    /*Navegacion parte superior*/
    .nav{
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 10px;
    }

    .nav__items{
        padding: 0 10px;
        border: 0;
    }

    .hero__text{
        text-align: center;
        margin-bottom: 100px;
    }

    .subtitle{
        font-size: 2rem;
        margin-bottom: 20px;
    }

    /*About*/
    .presentation__picture{
        width: 250px;
        height: 250px;
        border-radius: 15%;
        margin-bottom: 10px;
        margin-left: 10px;
    }

    /*===========SKILLS===========*/
    .skills__container{
        row-gap: 2rem;
        text-align: center;
        padding-left: 50px;
        padding-right: 30px;
        margin-bottom: 50px;
    }
    /*recuadro donde se ecneutra cada uno*/
    .skills__data{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        font-weight: inherit ;
        padding: .5rem 1rem;
        margin-bottom: 10px;
        border-radius: .5rem;
        box-shadow: 0 4px 8px rgba(14, 36, 49, 15);
    }

    /*=========PROYECTOS=============*/
    /*Repositorios*/
    .repositorios{
        color: white;
        padding-bottom: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        align-items: center;
        margin-bottom: 5px;
    }
    .respositorio__cta{
        display: inline-block;
        background: var(--color-secondary);
        margin-left: 15px;
        margin-right: 10px;
        color: #fff;
        text-decoration: none;
        border-radius: 20px;
        padding: 10px;
        text-align: center;
        margin-bottom: 5px;
    }
    /*Mis videos*/
    .videos{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        
    }

    .one__video{
        margin-left: 10px;
        margin-right: 10px;
        height: 50%;
        width: 100%;
    }

}